# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables and settings files
.env
*.env

# Virtual environment folders
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
*.coverage
*.cover
.coverage.*

# IDE settings
.vscode/
.idea/
*.iml

# Documentation build
docs/_build/
